{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Headline -->
    <div class="my-3 text-left">
        <h2 class="mb-3 fw-6 text-capitalize">hi, {{ name[0][0] }} <span class="wave noto">👋</span></h2>
        <h5>Let's get cooking good looking!</h5>
    </div>

    <!-- Get input -->
    <div class="form p-5">
        <form action="/result" method="GET" autocomplete="off">
            <!-- Ingredients -->
            <div class="mb-5" id="ingredientsWrapper">
                <p class="fw-normal" style="text-align: left!important;">Enter the first query or ingredient before adding more.</p>
                <div class="px-lg-5 px-sm-0 field mb-3">
                    <input type="text" class="border-0 me-2 form-control form-control-sm" name="ingredients" id="ingredients" 
                        placeholder="Enter query or ingredient" autofocus />
                    <span onclick="addField(this)" class=" btn px-3 btn-primary">+</span>
                    <span onclick="removeField(this)" class=" btn px-3 btn-primary">−</span>
                </div>
            </div>
            <!-- Dish Type  -->
            <div class="mb-5" id="dishTypeWrapper">
                <p class="fw-normal" style="text-align: left!important;">Dish Type<span class="ms-1 small text-muted">(optional)</span> 
                    <a href="javascript:void(0)" id="dish" class="toggler small text-muted ms-2 bi bi-chevron-down"></a>
                </p>
                <div id="dishListWrapper" class="hide">
                    <div class="px-lg-5 px-sm-0 small d-lg-flex d-md-block flex-wrap justify-content-between mb-5">
                        {% for dish in dishtype %}
                        <div class="form-check px-4 py-1 rd">
                            <input class="border-0 form-check-input" type="radio" name="dishType" value="{{ dish }}"
                                id="{{ dish }}">
                            <label class="form-check-label" for="{{ dish }}">{{ dishtype[dish] }}</label>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- Cuisine Type Labels  -->
            <div class="mb-5" id="cuisineTypeWrapper">
                <p class="fw-normal" style="text-align: left!important;">Cuisine Type<span
                        class="ms-1 small text-muted">(optional)</span>
                    <a href="javascript:void(0)" id="cuisine" class="toggler small text-muted ms-2 bi bi-chevron-down"></a>
                </p>
                <div id="cuisineListWrapper" class="hide">
                    <div class="px-lg-5 px-sm-0 small d-lg-flex d-md-flex flex-wrap justify-content-between mb-5" style="text-align: left!important;">
                        {% for i in range(0, len_ct) %}
                        <div class="flex-column">
                            {% for cuisine in ct[i]|sort %}
                            <div class="form-check px-4 py-1 rd">
                                <input class="border-0 form-check-input" type="radio" name="cuisineType" value="{{ cuisine }}"
                                    id="{{ cuisine }}.{{ loop.index }}">
                                <label class="form-check-label" for="{{ cuisine }}.{{ loop.index }}">{{ ct[i][cuisine] }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Diet Labels  -->
            <div class="mb-5" id="dietLabelsWrapper">
                <p class="fw-normal" style="text-align: left!important;">Diet Labels<span class="ms-1 small text-muted">(optional)</span>
                    <a href="javascript:void(0)" id="diet" class="toggler small text-muted ms-2 bi bi-chevron-down"></a>
                </p>
                <div id="dietListWrapper" class="hide">
                    <div class="px-lg-5 px-sm-0 small d-lg-flex d-md-block flex-wrap justify-content-between mb-5">
                        {% for diet in dietlabels|sort %}
                            <div class="form-check px-4 py-1">
                                <input class="border-0 form-check-input" type="checkbox" name="dietLabels" value="{{ diet }}" id="{{ diet }}">
                                <label class="form-check-label" for="{{ diet }}">{{ dietlabels[diet] }}</label>
                            </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- Health Labels  -->
            <div class="mb-5" id="healthLabelsWrapper">
                <p class="fw-normal" style="text-align: left!important;">Allergies / Restrictions<span class="ms-1 small text-muted">(optional)</span>
                    <a href="javascript:void(0)" id="health" class="toggler small text-muted ms-2 bi bi-chevron-down"></a>
                </p>
                <div id="healthListWrapper" class="hide">
                    <div class="px-lg-5 px-sm-0 small d-lg-flex d-md-flex flex-wrap justify-content-between mb-5" style="text-align: left!important;">
                        {% for i in range(0, len_hl) %}
                            <div class="flex-column">
                                {% for health in hl[i]|sort %}
                                <div class="form-check px-4 py-1">
                                    <input class="border-0 form-check-input" type="checkbox" name="healthLabels" value="{{ health }}" id="{{ health }}.{{loop.index}}">
                                    <label class="form-check-label" for="{{ health }}.{{loop.index}}">{{ hl[i][health] }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Submit -->
            <div class="text-center">
                <input type="submit" id="search" value="Show Recipes" class="px-5 btn btn-primary"/>
            </div>
        </form>
    </div>
    
{% endblock %}



{% block script%}
    <script>
        {% include 'js/dynamicTextField.js' %}
        {% include 'js/toggle.js' %}
    </script>
{% endblock %}