{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<div class="d-flex flex-column gap-3 gap-md-4">
  <!-- Headline -->
  <div class="d-flex flex-column gap-md-1">
    <h2 class="fw-6 text-capitalize">Hi, {{ name[0][0] }} <span class="wave noto">👋</span></h2>
    <h5>Let's get cooking good looking!</h5>
  </div>
  <!-- Get input -->
  <form action="/result" method="GET" autocomplete="off"
    class="bg-off-white p-4 p-lg-5 d-flex flex-column gap-4 gap-lg-5">
    <!-- Ingredients -->
    <div class="d-flex flex-column gap-2 gap-md-3" id="ingredientsWrapper">
      <div class="text-left">Enter the first query or ingredient before adding more.</div>
      <div class="px-lg-5 px-sm-0 field d-flex flex-row gap-2 gap-md-3">
        <input type="text" class="form-control" name="ingredients" id="ingredients"
          placeholder="Enter query or ingredient" autofocus />
        <span onclick="addField(this)" class="btn px-3 btn-primary">+</span>
        <span onclick="removeField(this)" class="btn px-3 btn-primary">−</span>
      </div>
    </div>
    <!-- Dish Type  -->
    <div class="d-flex flex-column gap-2 gap-md-3" id="dishTypeWrapper">
      <div class="d-flex flex-row align-items-center gap-2">
        <div>Dish Type</div>
        <div class="small text-muted">(optional)</div>
        <a href="javascript:void(0)" id="dish" class="toggler small text-muted bi bi-chevron-down"></a>
      </div>
      <div id="dishListWrapper" class="hide">
        <div class="px-lg-5 px-sm-0 small d-flex flex-column flex-md-row justify-content-between gap-1 gap-md-2">
          {% for dish in dishtype %}
          <div class="d-flex flex-row gap-2 form-check rd">
            <input class="form-check-input" type="radio" name="dishType" value="{{ dish }}" id="{{ dish }}">
            <label class="form-check-label" for="{{ dish }}">{{ dishtype[dish] }}</label>
          </div>
          {% endfor%}
        </div>
      </div>
    </div>
    <!-- Cuisine Type Labels  -->
    <div class="d-flex flex-column gap-2 gap-md-3" id="cuisineTypeWrapper">
      <div class="d-flex flex-row align-items-center gap-2">
        <div>Cuisine Type</div>
        <div class="small text-muted">(optional)</div>
        <a href="javascript:void(0)" id="cuisine" class="toggler small text-muted bi bi-chevron-down"></a>
      </div>
      <div id="cuisineListWrapper" class="hide">
        <div class="px-lg-5 px-sm-0 small d-flex flex-column flex-md-row justify-content-between gap-1 gap-md-2">
          {% for i in range(0, len_ct) %}
          <div class="d-flex flex-column gap-1 gap-md-2">
            {% for cuisine in ct[i]|sort %}
            <div class="form-check rd d-flex flex-row gap-2 align-items-center">
              <input class="form-check-input" type="radio" name="cuisineType" value="{{ cuisine }}"
                id="{{ cuisine }}.{{ loop.index }}">
              <label class="form-check-label" for="{{ cuisine }}.{{ loop.index }}">{{ ct[i][cuisine] }}</label>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Diet Labels  -->
    <div class="d-flex flex-column gap-2 gap-md-3" id="dietLabelsWrapper">
      <div class="d-flex flex-row align-items-center gap-2">
        <div>Diet Labels</div>
        <div class="small text-muted">(optional)</div>
        <a href="javascript:void(0)" id="diet" class="toggler small text-muted bi bi-chevron-down"></a>
      </div>
      <div id="dietListWrapper" class="hide">
        <div class="px-lg-5 px-sm-0 small d-flex flex-column flex-md-row justify-content-between gap-1 gap-md-2">
          {% for diet in dietlabels|sort %}
          <div class="d-flex flex-row gap-2 form-check">
            <input class="form-check-input" type="checkbox" name="dietLabels" value="{{ diet }}"
              id="{{ diet }}">
            <label class="form-check-label" for="{{ diet }}">{{ dietlabels[diet] }}</label>
          </div>
          {% endfor%}
        </div>
      </div>
    </div>
    <!-- Health Labels  -->
    <div class="d-flex flex-column gap-2 gap-md-3" id="healthLabelsWrapper">
      <div class="d-flex flex-row align-items-center gap-2">
        <div>Allergies / Restrictions</div>
        <div class="small text-muted">(optional)</div>
        <a href="javascript:void(0)" id="health" class="toggler small text-muted bi bi-chevron-down"></a>
      </div>
      <div id="healthListWrapper" class="hide">
        <div class="px-lg-5 px-sm-0 small d-flex flex-column flex-md-row justify-content-between gap-1 gap-md-2">
          {% for i in range(0, len_hl) %}
          <div class="d-flex flex-column gap-1 gap-md-2">
            {% for health in hl[i]|sort %}
            <div class="form-check d-flex flex-row gap-2 align-items-center">
              <input class="form-check-input" type="checkbox" name="healthLabels" value="{{ health }}"
                id="{{ health }}.{{loop.index}}">
              <label class="form-check-label" for="{{ health }}.{{loop.index}}">{{ hl[i][health] }}</label>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- Submit -->
    <input type="submit" id="search" value="Show Recipes" class="align-self-center btn btn-primary btn-lg px-3" />
  </form>
</div>
{% endblock %}

{% block script%}
<script>
  {% include 'js/dynamicTextField.js' %}
  {% include 'js/toggle.js' %}
</script>
{% endblock %}