{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="row justify-content-center align-items-center">

        <!-- Carousel photos -->
        <div class="col-auto">
            <img class="img-fluid carousel" name="carousel">
        </div>

        <!-- Login form -->
        <div class="form text-center p-5 col-xl-4 offset-xl-1 col-auto">
            <form action="/login" method="post">
                <!-- Username -->
                <div class="mb-3">
                    <input type="text" autofocus autocomplete="off" id="username" name="username" class="inp form-control"
                    placeholder="Username" required/>
                </div>
                <!-- Password -->
                <div class="mb-3">
                    <input type="password" id="password" name="password" class="inp form-control"
                    placeholder="Password" required />
                </div>
                <!-- Login -->
                <div class="text-center mb-3">
                    <input type="submit" id="login" value="Log In" class="btn btn-primary px-5" disabled="disabled"/>
                </div>
                <!-- Validation-->
                <p id="validation" class="mb-3 small text-center fw-light text-muted">{{ message }}</p>
                <!-- Register -->
                <p class="small fw-normal text-center mb-0">Don't have an account? <a href="/register"
                    class="fw-6">Register!</a></p>
            </form>
        </div>
        
    </div>
{% endblock %}



{% block script %}
<script>
    {% include 'js/carousel.js' %}
    {% include 'js/disableButton.js' %}
</script>
{% endblock %}