{% extends "layout.html" %}

{% block title %}
Setting
{% endblock %}

{% block main %}
<div class="d-flex flex-column gap-3 gap-md-4">
  <!-- Headline -->
  <h5>Update your account information:</h5>
  <!-- Content -->
  <div class="d-flex flex-column flex-sm-row gap-4">
    <!-- Tabs -->
    <div class="col-sm-4 col-lg-3 d-flex flex-column gap-2">
      <div id="name-tab" data-content="name-content" role="button" {% if message1 %}
        class="tab px-4 py-2 py-lg-3 active" {% else %} class="tab px-4 py-2 py-lg-3" {% endif %} aria-selected="true">
        Edit Name
      </div>
      <div id="username-tab" data-content="username-content" role="button" {% if message2 %}
        class="tab px-4 py-2 py-lg-3 active" {% else %} class="tab px-4 py-2 py-lg-3" {% endif %} aria-selected="false">
        Change Username
      </div>
      <div id="password-tab" data-content="password-content" role="button" {% if message3 %}
        class="tab px-4 py-2 py-lg-3 active" {% else %} class="tab px-4 py-2 py-lg-3" {% endif %} aria-selected="false">
        Change Password
      </div>
    </div>
    <!-- Contents -->
    <div class="col bg-off-white d-flex flex-column">
      <form action="/settings" method="POST" autocomplete="off" class="p-4 p-lg-5">
        <div id="name-content" {% if message1 %} class="content d-block" {% else %} class="content d-none" {% endif %}>
          <div class="d-flex flex-column gap-2 gap-md-3 gap-lg-4">
            <div>Current Name:</div>
            <div class="font-bold fs-4">{{ currentname }}</div>
            <input type="text" class="mt-3 form-control" name="change_name" id="change_name"
              placeholder="Enter new name" autofocus />
            <p class="mt-3 small fw-4 text-muted validation">{{ message1 }}</p>
            <input type="submit" id="save_name" value="Save Changes"
              class="align-self-center btn btn-primary btn-lg px-3" />
          </div>
        </div>
        <div id="username-content" {% if message2 %} class="content d-block" {% else %} class="content d-none" {% endif
          %}>
          <div class="d-flex flex-column gap-2 gap-md-3 gap-lg-4">
            <div>Current Username:</div>
            <div class="font-bold fs-4">{{ currentusername }}</div>
            <input type="text" class="mt-3 form-control" name="change_username" id="change_username"
              placeholder="Enter new username" />
            <p class="mt-3 small fw-4 text-muted validation">{{ message2 }}</p>
            <input type="submit" id="save_username" value="Save Changes"
              class="align-self-center btn btn-primary btn-lg px-3" />
          </div>
        </div>
        <div id="password-content" {% if message3 %} class="content d-block" {% else %} class="content d-none" {% endif
          %}>
          <div class="d-flex flex-column gap-3 gap-lg-4">
            <input type="password" class="inp form-control" name="currentpassword" id="password"
              placeholder="Enter current password" />
            <input type="password" class="inp form-control" name="newpassword" id="new_password"
              placeholder="Enter new password" />
            <input type="password" class="inp form-control" name="confirmpassword" id="confirm_new_password"
              placeholder="Confirm new password" />
            <p class="mt-4 small fw-4 text-muted validation">{{ message3 }}</p>
            <input type="submit" id="save_password" value="Save Changes"
              class="but align-self-center btn btn-primary btn-lg px-3" disabled="disabled" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script%}
<script>
  {% include 'js/disableButton.js' %}
  {% include 'js/toggleContent.js' %}
</script>
{% endblock %}